.resume{
    padding: 30px;
    margin-left: 25%;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 540px;
}
header{
    text-align: center;
}
h2{
    font-weight: bold;
}
hr{
    height: 1px;
    background-color: black;
}
.bold{
    font-weight: bold;
}
.nd > ul , li::marker{
    list-style: none;
}
.date{
    font-style: italic;
}